@model IEnumerable<WebGestion.Models.FacturasProveedores>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    





</style>
<h2>Index</h2>
<h4>FacturasProveedores</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.CodFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estados.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormasEntrega.FormaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormasPago.FormaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiposFacturas.Prefijo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormasEntrega.FormaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormasPago.FormaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiposFacturas.Prefijo)
        </td>

    </tr>
}

</table>
